p {
 border-bottom: 3px solid red;

}

.kermit {
	border: 3px solid green;
}

#main-div {
	padding: 10px;

}

#main-div-2 .kermit {
	border: 3px dotted purple;
}

#main-div-2 > * {
	border: 4px solid black;
}

h2 ~ * {
	border: 3px solid blue;
}

#li-1 {
	font-size: 30px;
}

#li-2 {
	font-weight: bold;
}

#li-3 {
	text-transform: uppercase;
}

#myster-ul {
	font-family: 'Mystery Quest';
}

#flex-kermit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#flex-kermit img {
	margin: 15px;
	border: 10px;
	max-width: 30%;
}

/* Hover on anchor tags */

a:hover {
	font-size: 50px;
}

/* active */

a:active {
  background-color: green;
}

/* focus */

input:focus {
	background-color: yellow;
}


/*nth-child*/

.sub-div li:nth-child(2n + 1) {
	border: pink 5px solid;
}

.sub-div li:nth-child(2n) {
	border: blue 5px solid;
}

/*nth-of-type*/

.sub-div li:nth-of-type(2n) {
	color: blue;
}

section p:nth-child(2) {
	color: red;
}

section p:nth-of-type(2) {
	color:orange;
}


/*before and after*/

#main-div-1::before {
	content: "\201C";
	font-size: 60px;
	font-weight: bold;
	color:purple;

}

#main-div-1::after {
	content: "\201C";
}

















